

#poster {
    width: 100vw;
    height: vh;
}

/* Page Formating */
.body {
    margin: 2%;
    padding: 3%;
}
.body {
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    max-width: 1700px;
}

.html {
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    max-width: 100vw;
    height: 100vh;
}



/* Bullet Point List Placement */
.ul {
    float: left;
    padding: 10px;
    margin-left: 10%;
  
}

/* Question Buttoms */
button {
    background-color: transparent; 
    border: none;
    padding: auto;
    display: inline-block;
    text-align: left;
    border-radius: 12px;
    margin-left: 20px;
    transition-duration: 0.3s;

}

button:hover {
    background-color: rgba(99, 147, 242, 0.607);
}

button:active {
    background-color: #edbcbc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* "Junk image set ups */

.junk {
    float: left;
    padding: 1%;
    margin: 10px;
    margin-bottom: 10%;
    
}

.oceanjunk {
    float: left;
    display: flex;
    justify-content: baseline;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-top: 0%;
    max-width: 500px;
}

/* Background Image placement */

.img.background {
    max-width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;

}

body {
    background {
        img scr="media/video/Ocean-Poster.gif" no-repeat center }
    background-repeat:  no-repeat; 
    background-size: cover; 
  position: center; 
  width: 100vw;
  height: 100vh;
  
  }
  
    

background {
    background-color: rgb(11, 37, 83);
}

image #gif {
    background-attachment: fixed;
    width: 100vw;
    height: vh;
}

/* Menu Links to... */
.menu ul {
    list-style-type: none;
   
}

.menu li {
    display: block;
    text-align: center;
    float: left;
    width: 400px;
    padding-left: 55%;
   padding-bottom: 0%;
   
}
.menu li a:hover {
    background-color: #e8bebe60;
}


/* Font Stylings */

h1{
    background-color: rgb(163, 205, 247);
    width: 100%;
    height: 120px;
    padding: 1% 0% 0% 2%
}
   h1 { display: block;
    font-family: "brevia", sans-serif;
    font-weight: 1000;
    font-style: bold;
    font-size: 68px;
    margin-left: 30px;
    margin-top: 300px;
    text-align: left;
   
}

h2{
    font-family: "nexa-rust-script-shad-2", sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    margin-left: 30px;

}

h3 {
    font-family: "gimlet-micro", serif;
font-weight: 800;
font-style: normal;
color: #000;
font-size: 48px;
margin-left: 30px;
}

/* Sub Titile Text */
h4 {
    font-family: "hello-bloomie-script", sans-serif;
    color: #67b2e8;;
font-weight: 800;
font-style: bold;
font-size: 48px;
margin-left: 30px;
}

/* Upper Qestions and Answers */
h5 {
     font-family: "brevia", sans-serif;
    font-weight: 1000;
    font-style: bold;
    font-size: 38px;
    margin-left: 40px;
    margin-top: 80px;
}

/* Bullet Point List Only */
h6 {
    font-family: "brevia", sans-serif;
    color: #f9fafb;
    font-weight: 1000;
    font-style: bold;
    font-size: 68px;
    margin-left: 30px;
    margin-top: 300px;
    
}

.question {
    display: inline;
    margin-top: 530px;
}

.answer1 {
    display: block;
    margin-left: 30px;
    width: 100%;
}

#a2 {
    color: #ffffff;
}

#a3 {
    color: #ffffff;
}

#a4 {
    color: #ffffff;
}

#Why {
   display: block;
}

/* Image Displays and Animations */
.bottle1 {
    padding-left: 1%;
    padding-bottom: 0%;
    float: left;
}


@keyframes bottle1 {
   0%  {opacity: 0%}
    5% {opacity: 10%}
    10% {opacity: 20%}
    15% {opacity: 30%}
    20% {opacity: 40%}
    25% {opacity: 50%}
   30%  {opacity: 60%}
    35% {opacity: 70%}
   40%  {opacity: 80%}
    45% {opacity: 90%}
    50% {opacity:100%}
    55% {opacity: 90%}
    60% {opacity: 80%}
    65% {opacity: 70%}
    70%  {opacity: 60%}
    75% {opacity: 50%}
    80% {opacity: 40%}
    85% {opacity: 30%}
    90% {opacity: 20%}
    95% {opacity: 10%}
    100% {opacity: 0%}

}

#b1factsA {
    position: relative;
    top: 80%;
    left: 25%;
}

#bottle1 {
    width: 200px;
    height: 200px;
    animation: bottle1 20s 30s infinite;
    animation-duration: 20s;
    animation-delay: 30s;
   
}

#bottle2 {
    padding-left: 2%;
    padding-bottom: 0%;
    float: left;
}

@keyframes bottle2 {
   0%  {opacity: 0%}
    5% {opacity: 10%}
    10% {opacity: 20%}
    15% {opacity: 30%}
    20% {opacity: 40%}
    25% {opacity: 50%}
   30%  {opacity: 60%}
    35% {opacity: 70%}
   40%  {opacity: 80%}
    45% {opacity: 90%}
    50% {opacity:100%}
    55% {opacity: 90%}
    60% {opacity: 80%}
    65% {opacity: 70%}
    70%  {opacity: 60%}
    75% {opacity: 50%}
    80% {opacity: 40%}
    85% {opacity: 30%}
    90% {opacity: 20%}
    95% {opacity: 10%}
    100% {opacity: 0%}
}

 #bottle2 {
    width: 200px;
    height: 200px;
    animation: bottle2 10s 30s infinite; 
animation-duration: 10s;
animation-delay: 33s;
margin-top: 75%;
}

#bottle3 {
    padding-left: 2%;
    padding-bottom: 0%;
    float: left;
}

@keyframes bottle3 {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #bottle3 {
    width: 200px;
    height: 200px;
    animation: bottle3 23s 35s infinite; 
    animation-delay: 16s;
 }

 @keyframes bottle4 {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #bottle4 {
    width: 200px;
    height: 200px;
    animation: bottle3 26s 30s infinite; 
    animation-delay: 11s;
 }

 @keyframes bluebag4 {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #bluebag4 {
    width: 100%;
    height: 100%;
    animation: bottle3 20s 28s infinite; 
    animation-delay: 22s;
 }

 @keyframes bluecapstanding {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #bluecapstanding {
    margin-top: 100%;
    width: 200px;
    height: 200px;
    animation: bottle3 20s 35s infinite; 
    animation-delay: 40s;
 }

 @keyframes bluecap {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #bluecap {
    width: 200px;
    height: 200px;
    animation: bottle3 22s 33s infinite; 
    animation-delay: 20s;
 }

 @keyframes crushedbottle2 {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #crushedbottle2 {
    width: 100%;
    height: 100%;
    animation: bottle3 25s 22s infinite; 
    animation-delay: 16s;
 }

 @keyframes crushedbottle4 {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #crushedbottle4 {
    width: 200px;
    height: 200px;
    animation: bottle3 21s 32s infinite; 
    animation-delay: 25s;
 }

 @keyframes crushedwhitebag {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100%}
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #crushedwhitebag {
    width: 200px;
    height: 200px;
    animation: bottle3 22s 30s infinite; 
    animation-delay: 10s;
 }

 @keyframes lgsidebottle {
    0%  {opacity: 0%}
     5% {opacity: 10%}
     10% {opacity: 20%}
     15% {opacity: 30%}
     20% {opacity: 40%}
     25% {opacity: 50%}
    30%  {opacity: 60%}
     35% {opacity: 70%}
    40%  {opacity: 80%}
     45% {opacity: 90%}
     50% {opacity:100% }
     55% {opacity: 90%}
     60% {opacity: 80%}
     65% {opacity: 70%}
     70%  {opacity: 60%}
     75% {opacity: 50%}
     80% {opacity: 40%}
     85% {opacity: 30%}
     90% {opacity: 20%}
     95% {opacity: 10%}
     100% {opacity: 0%}
 }

 #lgsidebottle {
    width: 200px;
    height: 200px;
    animation: bottle3 21s 34s infinite; 
    animation-delay: 11s;
    margin-top: 85%;
    margin-left:  40%;
 }


 

